SUPABASE_URL=https://vxyudxsfxnddtxslopwp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ4eXVkeHNmeG5kZHR4c2xvcHdwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzU1ODIyNywiZXhwIjoyMDc5MTM0MjI3fQ.c69x1r2_osQGFd31Pn6Pacd4ki1GGYO2ykYDjGzKW88

NEXT_PUBLIC_SUPABASE_URL=https://vxyudxsfxnddtxslopwp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ4eXVkeHNmeG5kZHR4c2xvcHdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM1NTgyMjcsImV4cCI6MjA3OTEzNDIyN30.7gaGj5W2dJSw9uE_mUI90joqzd9sZQ_SefBEPhQcwPM